/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
/* Global Code Start */
p {
  font-size: 16px;
  font-weight: regular;
  line-height: 24px;
}
/* Global Code End */
html {
  font-size: 62.5%;
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}
html body .navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  background-color: #828282;
}
html body .navBar .logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  padding: 13px;
  margin-left: 75px;
}
html body .navBar .hamburger {
  margin-right: 75px;
  padding: 13px;
}
html body .navBar .navOptions {
  display: none;
}
html body .topHeader {
  position: relative;
}
html body .topHeader .jumbotron img {
  width: 100%;
}
html body .topHeader .topText {
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  bottom: 55px;
  padding-left: 80px;
  margin-top: -20px;
  width: 100%;
}
html body .topHeader .topText h2 {
  display: flex;
  align-items: center;
}
html body .subHeader {
  display: flex;
  align-items: center;
}
html body .architects {
  display: flex;
  justify-content: center;
  padding: 15px;
}
html body .architects .content {
  padding: 20px;
  width: 415px;
}
html body .architects .content p {
  padding: 15px;
}
html body .architects .content h2 {
  padding: 15px;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
html body .architects .content .learnMore {
  margin-left: 15px;
  width: 116px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
html body .futureDesigns {
  display: flex;
  justify-content: center;
  padding: 15px;
}
html body .futureDesigns .content {
  padding: 20px;
  width: 390px;
}
html body .futureDesigns .content h2 {
  padding: 15px;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
html body .futureDesigns .content p {
  padding: 15px;
}
html body .futureDesigns .content .viewDesigns {
  margin-left: 15px;
  width: 130px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
html body .recentProjects .villasImg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px;
  max-width: 100%;
}
html body .recentProjects .villasImg h2 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  padding-bottom: 46px;
}
html body .recentProjects .villasImg img {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
}
html body .recentProjects .villasImg .theVillas {
  display: flex;
  justify-content: center;
  position: relative;
  width: 254px;
  max-width: 100%;
  margin-left: 63%;
  bottom: 46px;
  border: 1px solid white;
  padding: 32px;
  background-color: gray;
}
html body .recentProjects .villasContent {
  margin: 0 auto;
  width: 420px;
}
html body .outskirts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 145px 0 25px;
}
html body .outskirts .img {
  position: relative;
}
html body .outskirts .outskirtsHeader {
  font-weight: bold;
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: #222222;
  padding-bottom: 46px;
  position: relative;
  bottom: 60px;
  width: 254px;
  padding: 32px;
  background-color: gray;
  border: 1px solid white;
}
html body .outskirts .outskirtsContent {
  width: 420px;
}
html body .theBlocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .theBlocks .blocksImg {
  padding: 140px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
html body .theBlocks .blocksImg .img {
  position: relative;
}
html body .theBlocks .blocksImg .blocksHeader {
  font-weight: bold;
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: #222222;
  position: relative;
  padding: 32px;
  background-color: gray;
  border: 1px solid white;
  width: 254px;
  bottom: 55px;
}
html body .theBlocks .blocksImg .blocksContent {
  width: 420px;
}
