/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
/* Global Code Start */
p {
  font-size: 16px;
  font-weight: regular;
  line-height: 24px;
}
/* Global Code End */
html {
  font-size: 62.5%;
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}
html body {
  max-width: 100%;
}
html body .navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  background-color: #828282;
}
html body .navBar .logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  padding: 13px;
  margin-left: 75px;
}
html body .navBar .hamburger {
  margin-right: 75px;
  padding: 13px;
}
html body .navBar .navOptions {
  display: none;
}
html body .topHeader {
  position: relative;
}
html body .topHeader .jumbotron img {
  width: 100%;
}
html body .topHeader .topText {
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  bottom: 55px;
  padding-left: 80px;
  margin-top: -20px;
  width: 400px;
}
html body .topHeader .topText h2 {
  display: flex;
  align-items: center;
  width: 400px;
  max-width: 100%;
}
html body .subHeader {
  display: flex;
  align-items: center;
}
html body .architects {
  display: flex;
  justify-content: center;
  padding: 80px;
}
html body .architects .content {
  padding: 20px;
  width: 415px;
}
html body .architects .content p {
  padding: 15px;
}
html body .architects .content h2 {
  padding: 15px;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
html body .architects .content .learnMore {
  margin-left: 15px;
  width: 116px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
html body .architects .img1 {
  max-width: 100%;
  display: block;
}
html body .architects .img1Mobile {
  display: none;
}
html body .futureDesigns {
  display: flex;
  justify-content: center;
  padding: 15px;
  max-width: 100%;
}
html body .futureDesigns .futureImg1 {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
html body .futureDesigns .futureImg2 {
  display: none;
}
html body .futureDesigns .content {
  padding: 20px;
  width: 390px;
  max-width: 100%;
}
html body .futureDesigns .content h2 {
  padding: 15px;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
html body .futureDesigns .content p {
  padding: 15px;
}
html body .futureDesigns .content .viewDesigns {
  margin-left: 15px;
  width: 130px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
html body .recentProjects h2 {
  padding: 23px 104px;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
html body .recentProjects .villasImg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px 58px;
  max-width: 100%;
}
html body .recentProjects .villasImg .villas1 {
  display: block;
}
html body .recentProjects .villasImg .villasMobile {
  display: none;
}
html body .recentProjects .theVillas {
  display: flex;
  justify-content: center;
  position: relative;
  width: 254px;
  max-width: 100%;
  bottom: 46px;
  border: 1px solid white;
  padding: 32px;
  background-color: gray;
}
html body .villasContent {
  margin: 0 auto;
  width: 420px;
}
html .outskirts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0 0;
}
html .outskirts .outskirtsImg {
  max-width: 100%;
}
html .outskirts .outskirtsImg .outskirtsImg1 {
  display: block;
  width: 100%;
}
html .outskirts .outskirtsImg .outskirtsImgMobile {
  display: none;
}
html .outskirts .outskirtsImg .outskirtsHeader {
  font-weight: bold;
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: #222222;
  padding-bottom: 46px;
  position: relative;
  bottom: 60px;
  width: 254px;
  padding: 32px;
  background-color: gray;
  border: 1px solid white;
}
html .outskirts .outskirtsContent {
  width: 420px;
}
html .theBlocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .theBlocks .blocksImg {
  padding: 45px 0 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
html .theBlocks .blocksImg .blocksDesktop {
  position: relative;
  display: block;
}
html .theBlocks .blocksImg .blocksMobile {
  display: none;
}
html .theBlocks .blocksImg .blocksHeader {
  font-weight: bold;
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: #222222;
  position: relative;
  padding: 32px;
  background-color: gray;
  border: 1px solid white;
  width: 254px;
  bottom: 55px;
}
html .theBlocks .blocksContent {
  width: 420px;
}
html .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  padding: 50px 0 0;
  background-color: #828282;
}
html .footer .footerContain {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  width: 100%;
}
html .footer .footerContain .emailFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
html .footer .footerContain .emailFooter h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
html .footer .footerContain .emailFooter input {
  margin: 10px 0;
  padding: 10px 50px;
  border-radius: 7px;
}
html .footer .footerContain .emailFooter p {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}
html .footer .footerContain .footerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
html .footer .footerContain .footerContainer h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
html .footer .footerContain .footerContainer p {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}
html .footer .copyright p {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 10px 0 0;
}
@media (max-width: 500px) {
  html html {
    max-width: 100%;
    font-size: 62.5%;
    width: 100%;
    margin: 0 auto;
  }
  html html body .navBar .logo {
    margin-left: 0px;
    padding: 13px;
  }
  html html body .navBar .hamburger {
    margin-right: 0px;
    padding: 13px;
  }
  html html body .architects {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 40px 0 15px;
  }
  html html body .architects .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
  }
  html html body .architects .content h2 {
    font-size: 25px;
    width: 100%;
  }
  html html body .architects .content p {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 27px;
  }
  html html body .architects .content .learnMore {
    margin: 0 auto;
    width: 100%;
  }
  html html body .architects .content .learnMore p {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  html html body .architects .homeImg1 .img1 {
    display: none;
  }
  html html body .architects .homeImg1 .img1Mobile {
    display: block;
  }
  html html body .futureDesigns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html html body .futureDesigns .futureImg1 {
    display: none;
  }
  html html body .futureDesigns .futureImg2 {
    display: block;
  }
  html html body .futureDesigns .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 65%;
  }
  html html body .futureDesigns .content h2 {
    padding: 15px 0;
  }
  html html body .futureDesigns .content p {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0 0 27px;
  }
  html html body .futureDesigns .content .viewDesigns {
    width: 100%;
    margin: 0 auto;
  }
  html html body .futureDesigns .content .viewDesigns p {
    display: flex;
    justify-content: center;
    padding: 15px;
    max-width: 100%;
  }
  html html body .recentProjects h2 {
    padding: 0 80px;
  }
  html html body .recentProjects .villasImg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html html body .recentProjects .villasImg .villas1 {
    display: none;
  }
  html html body .recentProjects .villasImg .villasMobile {
    display: block;
  }
  html html body .recentProjects .villasImg .theVillas {
    width: 220px;
    bottom: 15px;
  }
  html html body .recentProjects .villasContent {
    max-width: 65%;
  }
  html html body .recentProjects .villasContent p {
    padding: 10px;
  }
  html html body .outskirts {
    padding: 40px 0 25px;
  }
  html html body .outskirts .outskirtsImg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html html body .outskirts .outskirtsImg .outskirtsImg1 {
    display: none;
  }
  html html body .outskirts .outskirtsImg .outskirtsImgMobile {
    display: block;
  }
  html html body .outskirts .outskirtsImg .outskirtsHeader {
    width: 220px;
    bottom: 13px;
  }
  html html body .outskirts .outskirtsContent {
    max-width: 65%;
  }
  html html body .outskirts .outskirtsContent p {
    padding: 10px;
  }
  html html body .theBlocks {
    padding-bottom: 65px;
  }
  html html body .theBlocks .blocksImg {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html html body .theBlocks .blocksImg .blocksDesktop {
    position: relative;
    display: none;
  }
  html html body .theBlocks .blocksImg .blocksMobile {
    display: block;
  }
  html html body .theBlocks .blocksImg .blocksHeader {
    width: 220px;
    bottom: 13px;
  }
  html html body .theBlocks .blocksContent {
    max-width: 65%;
  }
  html html body .theBlocks .blocksContent p {
    padding: 10px;
  }
  html html body .footer {
    margin-top: 0px;
  }
  html html body .footer .footerContain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html html body .footer .footerContain .footerContainer {
    padding: 15px 175px 10px 0;
  }
  html html body .footer .copyright {
    padding: 0px 95px 0 0;
  }
}
